body{
    font-family: 'Indie Flower', cursive;
    background-image: url("./images/bg1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}


.login{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: 300px;
     
}

.register{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: -300px;
     
}

.add{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: -800px;
     
}

.added{
    position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: 300px;
     font-size: 1.6em;  
}

#welcome1{
     text-align: center;
     font-size: 3.5em;
     margin-top: 50px;
}
#welcome2{
     text-align: center;
     font-size: 2.5em;
     margin-top: 50px;
}

#logout{
     position: absolute;
     margin: auto;
     top: 10px;
     right: 0;
     /* left: 300px; */   
}