
/* General styles */
body{
    font-family: 'Indie Flower', cursive;
    background-image: url("./images/bg1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

/* The login card style */
.login{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: 300px;
     
}

/* The registration card style */
.register{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: -300px;
     
}

/* The submit card style */
.add{
     position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: -800px;
     
}

/* The submited tabel style */
.added{
    position: absolute;
     margin: auto;
     top: 200px;
     right: 0;
     left: 300px;
     font-size: 1.6em;  
}

/* The hadlin of the login and registration page */
#welcome1{
     text-align: center;
     font-size: 3.5em;
     margin-top: 50px;
}

/* The hadlin of the jurnal page */
#welcome2{
     text-align: center;
     font-size: 2.5em;
     margin-top: 50px;
}

/* Logout button */
#logout{
     position: absolute;
     margin: auto;
     top: 10px;
     right: 0;
      
}